#Meio{
    background-color: rgb(149, 96, 199);
    padding: 65px;
}
#Baixo{
    background-color: white;
    padding: 100px;
}
.Botão1{
    background-color: rgb(156, 156, 231);
    color: black;
    border: none;
    padding: 5px 10px;
    font-size: 15pt;
    cursor: pointer;
    border-radius: 20px;
}
.Botão2{
    background-color: rgb(218, 119, 5);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16pt;
    cursor: pointer;
    border-radius: 20px;
}
.Cursos{
    background-color: black;
    color: white;
    border: none;
    font-size: 20pt;
    padding: 80px 60px;
    cursor: pointer;
    border-radius: 30px;
}
#Caixa1{
    background-image: url(assets/images/CristianismoCurso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Caixa2{
    background-image: url(assets/images/CandombléCurso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Caixa3{
    background-image: url(assets/images/IslamismoCurso.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#Lista{
    align-self: last baseline;
}
h1{ 
color: white;
font: normal 15pt Arial;
}
h2{
color: white;
font: normal 25pt arial;
text-align: center;
}
h3{

    text-align: center;
}
span{
    color: white;
    font: normal 15pt arial;
}
header{
    background-color: rgb(48, 48, 126);
    padding: 20px;
}
main{
    background-color: black;
    padding-bottom: 400px;
}