.perfil-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{ 
    font-size: 50pt;
    color: var(--texto-dark);
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 125px;
    margin-bottom: 50px;
}

.fotoPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.containers{
    display: flex;
    align-content: center;
    margin-top: 40px;
}

.dados{
    display: grid;
    grid-template-rows: 1;
    gap: 15px;
}

.dados-container {
    width: 100%;
    height: 50px;
    background-color: rgba(209, 205, 205, 0.376);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 28px;

}

.dados-texto {
    font-size: 20px;
    color: black;
}