/* RESET + TOKENS */
* { box-sizing: border-box; }
:root{
--cor-primaria: #934cb2;
--cor-escuro: #ffffff;
--cor-fundo: #ffffff;
--cor-borda: #000000;
--cor-erro: #db7c00;
}
/* TIPOGRAFIA GLOBAL */
html, body {
margin: 0;
padding: 0;
font-family: 'Roboto', system-ui, -apple-system, Segoe UI, Helvetica, Arial, sans-serif;
color: var(--cor-escuro);
background: var(--cor-fundo);
line-height: 1.5;
}
/* TOPO */
.topbar {
padding: 24px 16px;
background: #934cb2;
border-bottom: 0px solid var(--cor-borda);
}
#titulo { margin: 0; font-size: 2rem; }
.sub { margin: 8px 0 0; opacity: 0.85; }
/* CONTAINER E CARD */
.container { width: min(100% - 32px, 960px); margin: 24px auto; }
.card {
background: #fff;
border: 1px solid var(--cor-borda);
border-radius: 12px;
padding: 20px;
box-shadow: 0 6px 18px rgba(0,0,0,.04);
}
.destaque { 
    text-align: center;
    font-size: 3rem;
    color: #934cb2; }
/* FORMULÁRIO */
form fieldset {
border: 0px solid var(--cor-borda);
border-radius: 10px;
padding: 16px;
margin: 0 0 16px;
}
legend { font-weight: 700; padding: 0 6px; }
label { display: block; margin: 10px 0 6px; }
input, select, textarea {
width: 100%;
padding: 10px 12px ;
border: 0px solid var(--cor-borda);
border-radius: 8px;
padding-block: #cc0000;
background: #f0f0f0;
font: inherit;
}
/* foco acessível */
input:focus, select:focus, textarea:focus {
outline: 3px solid rgba(10,102,194,.2);
border-color: var(--cor-primaria);
}
/* botões */
.acoes { display: flex; gap: 12px; justify-content: center; margin-top: 10px; }
button {
cursor: pointer;
border: none;
font-size: large;
padding: 20px 150px;
border-radius: 8px;
font-weight: 700;
background: var(--cor-primaria);
color: #fff;
}
button:hover { filter: brightness(0.95); }
button.secundario { background: #eef2f7; color: #1f2a37; }
button.terciario {background: #e94c2e}
/* alerta */
.alerta {
margin-top: 8px;
padding: 12px 14px;
border-radius: 10px;
border: 1px solid #f1c4c1;
background: #fdecec;
color: var(--cor-erro);
}
/* rodapé */
.rodape { text-align: center; padding: 18px 12px; color: #6b7280; }
